# Python virtual environment
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Generated documentation
docs/

# Database
scraper.db

# IDE specific files
.vscode/
.idea/

# Operating System specific files
.DS_Store
Thumbs.db 